<div class="pagination">
	<ul>
		<li>{% if pagination['has_pre'] %}<a href="{{url}}?page={{pagination['pre_page']}}&{{param}}"><i class="icon-arrow-left"></i>&nbsp;&nbsp;上一页</a>{% end %}</li>
		{% for p in pagination['page_list'] %}
			{% if pagination['page']==p %}
				<li class="active"><a href="#">{{p}}</a></li>
			{% else %}
				<li><a href="{{url}}?page={{p}}&{{param}}">{{p}}</a></li>
			{% end %}
		{% end %}
		{% if pagination['has_eps'] %}<li class="disabled"><a href="#">...</a></li>{% end %}
		<li>{% if pagination['has_next'] %}<a href="{{url}}?page={{pagination['next_page']}}&{{param}}">下一页&nbsp;&nbsp;<i class="icon-arrow-right"></i></a>{% end %}</li>
	</ul>
</div>

