{% extends ../base.html %}

{% block meta %}
	<title>vision</title>
{% end %}

{% block static %}
	<script language="javascript" src="{{ static_url('js/jquery.asmselect.js') }}" type="text/javascript"></script>
	<script language="javascript" type="text/javascript">
		function toggle_paste(iid, e){
			var url = '/a/item/'+iid+'/paste/'
			var args = {};
			args['vid'] = '{{pid}}'
			$.postJSON(url, "POST", args, function(response) {
				if (response.error){
    				return alert(response.error);
				}
				$(e).text('已粘贴');
			});
		}
	</script>
{% end %}
{% block body %}
	<ul class="breadcrumb" style="padding:0px;height:40px;">
		<li><p style="font-size:16px;font-weight:bold;height:40px;padding:10px 10px 10px 20px;">从创建粘贴作品</p></li>
		<li class="pull-right" style="border-left:1px solid black;"><a class="btn btn-mini" style="border:0px;height:20px;font-size:16px;padding:10px;" onclick="return backconfirm(this);" href="{{ back }}">返回</a></li>
	</ul>

	<div class="span10">
		<ul class="thumbnails">
			{% for i in ilist %}
			<li class="span3">
				<div class="thumbnail overmenu-group">
					<p style="color:white;background:black;position:absolute;opacity:0.8;z-index:1000;" >{{ abstract(i['nick'], 16) }}&nbsp;创建于&nbsp;{{ i['created'] }} </p>
					<a href="/item/{{i['eid']}}" style="width:220px;height:180px;position:relative;overflow:hidden;display:block;">
						<img src="/image/attach/{{i['logo'] }}_crop" onload="if ((parseFloat($(this).width())/$(this).height()) > 1.23){$(this).css('height', '180').css('width', 'auto')};" onerror="this.src='{{ static_url("img/blank_260x180.gif") }}';" style="display:block;width:220px;margin:0 auto;" alt="">
					</a>
					<div class="caption" style="height:107px;">
						{% if i['vtype'] == 'personal' %}
							<p>名称：{{ abstract(i['name'], 12) }}</p>
							<p style="margin-bottom:5px;">客户：{{ abstract(i['client'], 40) }}</p>
							<p>年份：{% if i['year'] %}{{i['year']}}{% else %}未知{% end %}</p>
						{% else %}
							<p>标题：{{ abstract(i['title'], 12) }}</p>
							<p>正文：{{ abstract(i['content'], 40) }}</p>
						{% end %}
					</div>
					<ul class="overmenu">
						{% if i['is_paste'] %}
							<li><a>已粘贴</a></li>
						{% else %}
							<li><a href="#" onclick="toggle_paste('{{ i["eid"] }}', this);return false;" >粘贴</a></li>
						{% end %}
					</ul>
				</div>
			</li>
			{% end %}
		</ul>
		<script src="{{ static_url('js/bootstrap-overmenu.js') }}" type="text/javascript"></script>
		{% module Template("util/pagination.html", pagination=pinfo, url='/project/{{pid}}/stick/', param='') %}
	</div>
{% end %}
