{% extends ../base.html %}

{% block meta %}
	<title>vision</title>
{% end %}

{% block static %}
	<script language="javascript" src="{{ static_url('js/jquery.asmselect.js') }}" type="text/javascript"></script>
	<script language="javascript" type="text/javascript">
		$(document).ready(function() {
        	var args = {};
			args['cid'] = '{{ pid }}';
			$.postJSON('/a/staff/', 'GET', args, function(response) {
				if (response.error){
					return alert(response.error);
				}
				$(response).each(function() {
					var t = $(this)[1], i = $(this)[2], j = $(this)[0]
					if (i) {
						$("#members").append("<option value=" + j + " selected='selected'>" + t + "</option>");
					}else{
						$("#members").append("<option value=" + j + ">" + t + "</option>");
					}
				});
			});
			$("select[multiple]").asmSelect({
				addItemTarget: 'bottom',
				animate: true,
				highlight: true
			}).after($("<a href='#'>全选</a>").click(function() {
				$("select[multiple]").children().attr("selected", "selected").end().change();
				return false;
			}));
			
		})
	</script>
{% end %}
{% block body %}
	<ul class="breadcrumb" style="">
		<li>新建</li>
	</ul>

	<div class="span10" style="width:988px;padding:0px;margin-left:0px;">
		<form class="form-horizontal" method="POST" action="/project/new/">
			<div class="control-group">
				<label class="control-label" for="title">名称</label>
				<div class="controls">
					<input class="input-xlarge" name="title" id="title" style="border:1px solid black;" value="{% if title %}{{ title }}{% end %}"/>
					<p class="help-inline">请输入名称</p>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="description">描述</label>
				<div class="controls">
					<textarea class="input-xlarge" name="description" id="description" rows="3" style="color:black;">{% if description %}{{ description }}{% end %}</textarea>
					<p class="help-inline">请输入相关描述</p>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="members">相关人员</label>
				<div class="controls">
					<select multiple="multiple" type="text" class="input-xlarge" name="members" id="members" title="请选择相关人员"></select>
					<p class="help-inline">请选择相关人员</p>
				</div>
			</div>
			<input type="hidden" name="pid" value="{% if pid %}{{ pid }}{% end %}">
			<div class="span10" style="margin-top:10px;margin-left:0px;width:1028px;height:30px;float:left;border-top:1px solid black;">
				<input type="submit" class="btn btn-primary pull-right censor" style="border:0px;" value="确定" />
				<a class="btn pull-right" href="{%if pid%}/project/{{pid}}/{%else%}{{back}}{%end%}" class="btn" onclick="return backconfirm(this);" style="border-top:0px;border-bottom:0px;">取消</a>
			</div>
		</form>
		<script src="{{ static_url('js/bootstrap-checksubmit.js') }}" type="text/javascript"></script>
	</div>
{% end %}
