{% extends ../base.html %}

{% block meta %}
	<title>vision</title>
{% end %}

{% block static %}
	<script language="javascript" src="{{ static_url('js/jquery.uploadify.min.js') }}" type="text/javascript"></script>
	<script src="{{ static_url('js/jquery.dragsort.js') }}" type="text/javascript"></script>
	<script src="{{ static_url('js/bootstrap-checksubmit.js') }}" type="text/javascript"></script>
	<script language="javascript" type="text/javascript">
		$(document).ready(function() {
			dragsort.makeListSortable(document.getElementById("thumbnails"), setHandle);
			$('.censor').on('censorn', function(){
				var $that = $(this);
				slist = ToolMan.junkdrawer().inspectListOrder('thumbnails');
				for (var i=0; i<slist.length; i++) {
					var num = slist[i].charAt(3, slist[i].length-1), j = i+1;
					$('#'+slist[i]).find('input[type=hidden]').attr('name', 'sort-'+j);
				}
			})
		})
		var coordinates = ToolMan.coordinates()
		var dragsort = ToolMan.dragsort()
	</script>
	<link rel="stylesheet" type="text/css" href="{{ static_url('css/uploadify.css') }}"/>
{% end %}

{% block body %}
	<ul class="breadcrumb" style="padding:0px;height:40px;">
		<li><p style="font-size:16px;font-weight:bold;height:40px;padding:10px 10px 10px 20px;">从创建粘贴作品</p></li>
		<li class="pull-right" style="border-left:1px solid black;"><a class="btn btn-mini" style="border:0px;height:20px;font-size:16px;padding:10px;" onclick="return backconfirm(this);" href="{{ back }}">返回</a></li>
	</ul>
	<div class="span10">
		<form class="form-horizontal" method="post" action="/project/{{pid}}/sort/">
		<ul id="thumbnails" class="thumbnails" style="margin-top:10px;">
			{% for i in xrange(0, len(wlist)) %}
			<li class="span3" id="sort-{{i+1}}">
				<div class="thumbnail" style="height:180px;">
					<p style="color:white;background:black;position:absolute;opacity:0.8;z-index:1000;" >{{ abstract(wlist[i]['nick'], 16) }}&nbsp;创建于&nbsp;{{ wlist[i]['created'] }} </p>
					<a href="/item/{{wlist[i]['eid']}}/" style="width:220px;height:180px;position:relative;overflow:hidden;display:block;" onclick="return false;">
						<img src="/image/attach/{{ wlist[i]['logo'] }}_crop" onload="if ((parseFloat($(this).width())/$(this).height()) > 1.23){$(this).css('height', '180').css('width', 'auto')};" onerror="this.src='{{ static_url("img/blank_260x180.gif") }}';" style="display:block;width:220px;margin:0 auto;" style="display:block;width:220px;margin:0 auto;" alt="">
						<input type="hidden" name="sort-{{i+1}}" value="{{wlist[i]['eid']}}">
					</a>
					<div class="caption" style="height:0px;"></div>
				</div>
			</li>
			{% end %}
		</ul>
		<input type="submit" class="btn btn-primary censor pull-right" style="border:1px solid black;font-weight:bold;" value="确定" /></br>
		</form>
		{% module Template("util/pagination.html", pagination=pinfo, url=vurl, param='') %}
	</div>
{% end %}
