{% extends ../base.html %}

{% block meta %}
	<title>vision</title>
{% end %}

{% block static %}{% end %}
{% block body %}
	<ul class="breadcrumb" style="padding:0px;height:40px;">
		<li><p style="font-size:16px;font-weight:bold;height:40px;padding:10px 10px 10px 20px;">{{name}}</p></li>
		<li class="pull-right" style="border-left:1px solid black;"><a class="btn btn-mini" style="border:0px;height:20px;font-size:16px;padding:10px;" href="/collect/">返回</a></li>
	</ul>
	<div class="span10" style="border-bottom:1px solid black;width:1028px;margin-left:0px;margin-bottom:20px;padding-bottom:15px;">
		<div class="span2" style="width:120px;margin-left:20px;border-right:1px solid black;"><img src="/image/attach/{{logo}}_100" onerror="this.src='{{ static_url("img/blank_100.gif") }}';" alt="头像" style="width:100px;height:100px;" /></div>
		<div class="span7">
			<p style="font-weight:bold;">{{name}}&nbsp;/&nbsp;{{subtype_cn}} 性别：{{male_cn}} 出生日期：{{born}}</p>
			<script>show_pid('live', {{live}}, '国家地区：')</script>
			<p style="font-weight:bold;">所属机构：{{agency}}</p>
			<p style="font-weight:bold;">网址：{{website}}</p>
		</div>
		<div class="span2" style="width:120px;border-left:1px solid black;height:80px;padding:10px;">
			<p>级别：
				{% for i in xrange(0, grade) %}<i class="icon-star"></i>{% end %}
				{% for i in xrange(0, 5-grade) %}<i class="icon-star-empty"></i>{% end %}
			</p>
			<p>关系：
				{% for i in xrange(0, nexus) %}<i class="icon-star"></i>{% end %}
				{% for i in xrange(0, 5-nexus) %}<i class="icon-star-empty"></i>{% end %}
			</p>
		</div>
	</div>
	<div class="span3" style="width:219px;border-top:1px solid black;border-right:1px solid black;margin-left:0px;padding-left:5px;padding-right:5px;">
		<h3 style="padding-left:10px;margin-top:0px;margin-bottom:0px;">简介</h3><hr/>
		<p style="padding:10px;min-height:200px;">{{intro}}</p>
		<hr/><h3 style="padding-left:10px;margin-top:0px;margin-bottom:0px;">相关机构</h3><hr/>
		<p style="padding:10px;min-height:200px;">{{about}}</p>
	</div>
	<div class="span8" style="width:740px;">
		<ul class="thumbnails" style="min-height:460px;">
			{% for w in wlist %}
			<li class="span3">
				<div class="thumbnail">
					<a href="/item/{{w['eid']}}"><img src="/image/attach/{{ w['logo'] }}_300" onload="if ((parseFloat($(this).width())/$(this).height()) > 1.23){$(this).css('height', '180').css('width', 'auto')};" onerror="this.src='{{ static_url("img/blank_260x180.gif") }}';" style="display:block;height:180px;margin:0 auto;" alt=""></a>
					<div class="caption">
						<h4>{{w['name']}}</h4></br>
						<p>{{w['client']}}</p>
					</div>
				</div>
			</li>
			{% end %}
		</ul>
		{% module Template("util/pagination.html", pagination=winfo, url='/collect/{{cid}}', param='') %}
	</div>
{% end %}
