.clear {clear:both;}


.rcaret {
    margin-top:5px;
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid black;
    opacity: .3;
    filter: alpha(opacity=30);
    content: "";
}
.dropright-toggle:active,
.open .dropright-toggle {
  outline: 0;
}
.dropright.open .dropright-toggle {
  color: #ffffff;
  background: #ccc;
  background: rgba(0, 0, 0, 0.3);
}
.dropright.open .dropright-menu {
  display: block;
}
.pull-right .dropright-menu {
  left: auto;
  right: 0;
}
.dropup .dropright-menu,
.navbar-fixed-bottom .dropright .dropright-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}
.nav-tabs .dropright-toggle .caret,
.nav-pills .dropright-toggle .caret {
  border-top-color: #0088cc;
  border-bottom-color: #0088cc;
  margin-top: 6px;
}
.nav-tabs .dropright-toggle:hover .caret,
.nav-pills .dropright-toggle:hover .caret {
  border-top-color: #005580;
  border-bottom-color: #005580;
}
.nav-tabs .active .dropright-toggle .caret,
.nav-pills .active .dropright-toggle .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}
.nav-tabs .open .dropright-toggle,
.nav-pills .open .dropright-toggle,
.nav > .open.active > a:hover {
  color: #ffffff;
  background-color: #999999;
  border-color: #999999;
}
.navbar .nav .dropright-toggle .caret,
.navbar .nav .open.dropright .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar .nav .active .caret {
  opacity: 1;
  filter: alpha(opacity=100);
}
.navbar .nav .open > .dropright-toggle,
.navbar .nav .active > .dropright-toggle,
.navbar .nav .open.active > .dropright-toggle {
//  background-color: transparent;
}
.navbar .nav .active > .dropright-toggle:hover {
  color: #ffffff;
}
.dropright-menu {
  position: absolute;
  left: 100%;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  padding: 4px 0;
  margin: 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
.dropright-menu.pull-right {
  right: 0;
  left: auto;
}
.dropright-menu .divider {
  height: 1px;
  margin: 8px 1px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
  *width: 100%;
  *margin: -5px 0 5px;
}
.dropright-menu a {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #333333;
  white-space: nowrap;
}
.dropright-menu li > a:hover,
.dropright-menu .active > a,
.dropright-menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
}
.dropright.open .dropright-menu {
  display: block;
}
.pull-right .dropright-menu {
  left: auto;
  right: 0;
}
.navbar-fixed-bottom .dropright .dropright-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}
.nav-tabs .dropright-menu,
.nav-pills .dropright-menu {
  margin-top: 1px;
  border-width: 1px;
}
.nav-pills .dropright-menu {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.navbar .dropright-menu {
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.navbar-fixed-bottom .dropright-menu:before {
  border-top: 7px solid #ccc;
  border-top-color: rgba(0, 0, 0, 0.2);
  border-bottom: 0;
  bottom: -7px;
  top: auto;
}
.navbar-fixed-bottom .dropright-menu:after {
  border-top: 6px solid #ffffff;
  border-bottom: 0;
  bottom: -6px;
  top: auto;
}
.navbar .nav.pull-right .dropright-menu,
.navbar .nav .dropright-menu.pull-right {
  top: -2px;
  left: 160px;
  right: 0;
}
.navbar .nav.pull-right .dropright-menu:before,
.navbar .nav .dropright-menu.pull-right:before {
  left: auto;
  right: 12px;
}
.navbar .nav.pull-right .dropright-menu:after,
.navbar .nav .dropright-menu.pull-right:after {
  left: auto;
  right: 13px;
}
.modal-open .dropright-menu {
  z-index: 2050;
}



.navbar .brand {
display: block;
float: left;
padding: 10px 20px 10px;
margin-left: -20px;
font-size: 20px;
font-weight: 200;
color: #555;
text-shadow: 0 1px 0 white;
}

.parallel-menu {min-width:580px;}
.parallel-menu li {float:left;}
.parallel-menu a {padding:1px 5px;float:left;}

.nav-vision li a{font-size:15px}.breadcrumb li ul li{display:block}.bg-white{background:white}.box{background:white;-webkit-box-shadow:1px 1px 3px rgba(162,162,162,.8);-moz-box-shadow:1px 1px 3px rgba(162,162,162,.8);box-shadow:1px 1px 3px rgba(162,162,162,.8);border-radius:4px}.overmenu-group{position:relative}.overmenu{margin-top:1px}.overmenu{position:absolute;top:auto;left:0;z-index:1000;float:left;display:none;min-width:216px;padding:4px 0;margin:0;list-style:none;background-color:black;border-color:#ccc;border-color:rgba(0,0,0,0.2);border-style:solid;border-width:1px;-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box;*border-right-width:2px;*border-bottom-width:2px;opacity:.8;filter:alpha(opacity=80)}.overmenu.pull-right{right:0;left:auto}.overmenu .divider{height:1px;margin:8px 1px;overflow:hidden;background-color:#e5e5e5;border-bottom:1px solid #fff;*width:100%;*margin:-5px 0 5px}.overmenu a{display:block;padding:9px 15px;clear:both;font-weight:normal;line-height:21px;color:#fff;white-space:nowrap}.overmenu li>a:hover,.overmenu .active>a,.overmenu .active>a:hover{color:#fff;text-decoration:none;background-color:#08c}.overmenu-group{overflow:hidden}.overmenu-group:hover{*z-index:1000}.control-group .help-inline,.control-group .help-block{display:none}.error .help-inline{display:inline}.error .help-block{display:block}.row3 .control-group{float:left}.row3 .control-label{width:80px}.row3 .controls{margin-left:100px}.fullscreen .btn-group{margin-right:20px}

.navbar-vision {
    width:1200px;
    margin-left:150px;
}

.navbar-vision .container-vision {
    margin-left:30px;
}

.navbar-vision .brand img {
    position: absolute;
    left: 110px;
    top: 0px;
}

.navbar-vision .user_log {
    display:block;
}
