{% extends ../base.html %}

{% block meta %}
	<title>vision</title>
{% end %}

{% block static %}
	<script language="javascript" src="{{ static_url('js/jquery.city.js') }}" type="text/javascript"></script>
{% end %}
{% block body %}
	<ul class="breadcrumb" style="padding:0px;height:40px;">
		<li><p style="font-size:16px;font-weight:bold;height:40px;padding:10px 10px 10px 20px;">{{name}}</p></li>
		<li class="pull-right" style="border-left:1px solid black;">
			<a class="btn btn-mini" style="border:0px;height:20px;font-size:16px;padding:10px;" href="{{ back }}">返回</a>
		</li>
	</ul>
	<div class="span10" style="border-bottom:1px solid black;width:1028px;margin-left:0px;margin-bottom:20px;padding-bottom:15px;">
		<div class="span2" style="width:120px;margin-left:20px;border-right:1px solid black;"><img src="/image/attach/{{logo}}_100" onerror="this.src='{{ static_url("img/blank_100.gif") }}';" alt="头像" style="width:100px;height:100px;" /></div>
		<div class="span7">
			<p style="font-weight:bold;">
				{{name}}&nbsp;/&nbsp;{{subtype_cn}}
				{% if prop == 'PERSONAL' %}
				 	性别：{{male_cn}}
				 	出生日期：{{born}}
				{% else %}
					负责人 {{builder}}
					创立日期：{{born}}
				{% end %}
			</p>
			<script>show_pid('live', {{live}}, '国家地区：')</script>
			<p style="font-weight:bold;">所属机构：{{agency}}</p>
			<p style="font-weight:bold;">网址：{{website}}</p>
		</div>
		<div class="span2" style="width:120px;border-left:1px solid black;height:80px;padding:10px;">
			<p>级别：
				{% for i in xrange(0, grade) %}<i class="icon-star"></i>{% end %}
				{% for i in xrange(0, 5-grade) %}<i class="icon-star-empty"></i>{% end %}
			</p>
			<p>关系：
				{% for i in xrange(0, nexus) %}<i class="icon-star"></i>{% end %}
				{% for i in xrange(0, 5-nexus) %}<i class="icon-star-empty"></i>{% end %}
			</p>
		</div>
	</div>
	<div class="span3" style="width:219px;border-top:1px solid black;border-right:1px solid black;border-bottom:1px solid black;margin-left:0px;padding-left:5px;padding-right:5px;">
		<h3 style="font-size:18px;padding-left:10px;margin-top:0px;margin-bottom:0px;">简介</h3><hr/>
		<p style="padding:10px;min-height:200px;">{{intro}}</p>
		<hr/><h3 style="font-size:18px;padding-left:10px;margin-top:0px;margin-bottom:0px;">相关机构</h3><hr/>
		<p style="padding:10px;min-height:200px;">{{about}}</p>
	</div>
	<div class="span8" style="width:740px;">
		<a class="btn btn-large" style="border-bottom:0px;font-weight:bold;font-size:18px;" href="/item/{{prop.lower()}}/{{vid}}/new/"><i class="icon-plus"></i>&nbsp;&nbsp;新建</a>
		<hr/>
		<ul class="thumbnails" style="margin-top:10px;">
			{% for w in wlist %}
			<li class="span3">
				<div class="thumbnail overmenu-group">
					<a href="/item/{{w['eid']}}/"><img src="/image/attach/{{ w['logo'] }}_300" style="width:260px;height:180px;" alt=""></a>
					<div class="caption" style="height:107px;">
						{% if w['vtype'] == u'personal' %}
							<h4>{{w['name']}}</h4></br>
							<p>{{ abstract(w['client'], 44) }}</p>
						{% else %}
							<h4>{{w['title']}}</h4></br>
							<p>{{ abstract(w['content'], 44) }}</p>
						{% end %}
					</div>
					<ul class="overmenu" bot=0 >
						<li><a href="/item/{{ w['eid'] }}/edit/">编辑</a></li>
						<li><a href="/item/{{ w['eid'] }}/remove/" onclick="return delconfirm(this);">删除</a></li>
					</ul>
				</div>
			</li>
			{% end %}
		</ul>
		<script src="{{ static_url('js/bootstrap-overmenu.js') }}" type="text/javascript"></script>
		{% module Template("util/pagination.html", pagination=winfo, url='/volume/{{vid}}', param='') %}
	</div>
{% end %}
