{% extends ../base.html %}

{% block meta %}
	<title>vision</title>
{% end %}

{% block static %}
	<script language="javascript" src="{{ static_url('js/jquery.city.js') }}" type="text/javascript"></script>
	<script language="javascript" type="text/javascript">
		function add_select(rid, e){
			var url = '/a/collect/'+rid+'/add/'
			var args = {};
			$.postJSON(url, "POST", args, function(response) {
				if (response.error){
    				return alert(response.error);
				}
				alert('收藏成功');
				$(e).attr('onclick', '');
				$(e).text('已收藏');
			});
		}
	</script>
{% end %}
{% block body %}
	<div class="span12">
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<div class="nav-collapse">
						<ul class="nav pull-right">
							<li class="dropdown" style="">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">日期 <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="/volume/{{subtype}}/?dtime=day&{{build_params(params)}}">今天</a></li>
									<li class="divider"></li>
									<li><a href="/volume/{{subtype}}/?dtime=week&{{build_params(params)}}">本周</a></li>
									<li class="divider"></li>
									<li><a href="/volume/{{subtype}}/?dtime=month&{{build_params(params)}}">本月</a></li>
									<li class="divider"></li>
									<li><a href="/volume/{{subtype}}/?dtime=all&{{build_params(params)}}">全部</a></li>
								</ul>
							</li>
							<li class="divider-vertical" style=""></li>
							<li class="dropdown" style="">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">国家 <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><script>select_pid("live", 1)</script></li>
									<li class="divider"></li>
									<li class="ok"><a href="">确定</a></li>
									<li class="cancel"><a href="">取消</a></li>
								</ul>
							</li>
							<li class="divider-vertical" style=""></li>
							<li class="dropdown" style="">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">标签 <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a>级别:
										<span class="star-group">{% for i in xrange(0, 5) %}<i class="star icon-star-empty"></i>{% end %}</span>
										<input type="hidden" name="grade" class="star-value" value="0">
									</a></li>
									<li class="divider"></li>
									<li><a>关系:
										<span class="star-group">{% for i in xrange(0, 5) %}<i class="star icon-star-empty"></i>{% end %}</span>
										<input type="hidden" name="nexus" class="star-value" value="0">
									</a></li>
									<li class="divider"></li>
									<li><a href="#">
										性别：男：<input type="radio" checked="checked" name="Sex" value="male" />&nbsp;&nbsp;&nbsp;&nbsp;女：<input type="radio" name="Sex" value="female" />
									</a></li>
									<li class="divider"></li>
									<li><a href="#">
										年代<select style="width:160px;">
											<option value ="">当代</option>
											<option value ="">90~00年代</option>
											<option value="">80~90年代</option>
											<option value="">70~80年代</option>
										</select>
									</a></li>
									<li class="divider"></li>
									<li class="ok"><a href="">确定</a></li>
									<li class="cancel"><a href="">取消</a></li>
								</ul>
							</li>
							<li class="divider-vertical" style=""></li>
							<li class="dropdown" style="">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">属性 <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li class="dropright">
										<a href="#" class="dropright-toggle" data-toggle="dropright">个人 <b class="pull-right rcaret"></b></a>
										<ul class="dropright-menu">
											<li><a href='/volume/fdesigner/?{{build_params(params)}}'>设计师</a></li>
											<li class="divider"></li>
											<li><a href="/volume/fphotographer/?{{build_params(params)}}">摄影师</a></li>
											<li class="divider"></li>
											<li><a href="/volume/fstylists/?{{build_params(params)}}">造型师</a></li>
											<li class="divider"></li>
											<li><a href="/volume/fmakeup/?{{build_params(params)}}">化妆师</a></li>
											<li class="divider"></li>
											<li><a href="/volume/fmodel/?{{build_params(params)}}">模特</a></li>
											<li class="divider"></li>
											<li><a href="/volume/fbloger/?{{build_params(params)}}">博主</a></li>
											<li class="divider"></li>
											<li><a href="/volume/fartist/?{{build_params(params)}}">艺术家</a></li>
											<li class="divider"></li>
											<li><a href="/volume/hperformer/?{{build_params(params)}}">表演者</a></li>
											<li class="divider"></li>
											<li><a href="/volume/bmediapeople/?{{build_params(params)}}">媒体人</a></li>
										</ul>
									</li>
									<li class="divider"></li>
									<li class="dropright">
										<a href="#" class="dropright-toggle" data-toggle="dropright">机构 <b class="pull-right rcaret"></b></a>
										<ul class="dropright-menu">
											<li><a href='/volume/magazine/?{{build_params(params)}}'>杂志</a></li>
											<li class="divider"></li>
											<li><a href="/volume/association/?{{build_params(params)}}">协会</a></li>
											<li class="divider"></li>
											<li><a href="/volume/institutions/?{{build_params(params)}}">院校</a></li>
											<li class="divider"></li>
										</ul>
									</li>
									<li class="divider"></li>
									<li><a href="/volume/show/?{{build_params(params)}}">展会</a></li>
								</ul>
							</li>
							<li class="divider-vertical"></li>
							<li>
								<form class="form-inline" style="margin-bottom:0px;" action="/volume/{{subtype}}/" method="get">
									<input type="text" name="word" class="input-medium search-query" style="margin-top:5px;" placeholder="搜索">
									<button class="btn btn-small" type="submit"><i class="icon-search"></i></button>
								</form>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<ul class="thumbnails">
			{% for v in vlist %}
			<li class="span3">
				<div class="thumbnail overmenu-group">
					<a href="/volume/{{ v['vid'] }}/"><img src="/image/attach/{{ v.get('logo', None) }}_300" onerror="this.src='http://placehold.it/260x180&text=No Cover';" style="width:260px;height:180px;" alt=""></a>
					<ul class="overmenu" bot=0>
						{% if verify(perm, 0x01) %}
							<li><a href="/volume/{{ v['vid'] }}/edit/">编辑</a></li>
							<li><a href="/volume/{{ v['vid'] }}/">查看</a></li>
							<li><a href="/volume/{{ v['vid'] }}/remove/" onclick="return delconfirm(this);">删除</a></li>
						{% elif verify(perm, 0x02) %}
							<li><a href="/volume/{{ v['vid'] }}/edit/">编辑</a></li>
							{% if affect(v['affect'], 0x02) %}
								<li><a>已收藏</a></li>
							{% else %}
								<li><a href="#" onclick="add_select('{{ v["vid"] }}', this);return false;" >收藏</a></li>
							{% end %}
							<li><a href="/volume/{{ v['vid'] }}/remove/" onclick="return delconfirm(this);">删除</a></li>
						{% else %}
							<li><a href="/volume/{{ v['vid'] }}/edit/">编辑</a></li>
							{% if affect(v['affect'], 0x02) %}
								<li><a>已收藏</a></li>
							{% else %}
								<li><a href="#" onclick="add_select('{{ v["vid"] }}', this);return false;" >收藏</a></li>
							{% end %}
							<li><a href="/volume/{{ v['vid'] }}/">查看</a></li>
						{% end %}
					</ul>
					<div class="caption" style="height:80px;">
						<h4>{{ v['name'] }} / {{ v['subtype_cn'] }}</h4></br>
						<p>{{ v['intro'] }}</p>
					</div>
					<div class="caption">
						{% for i in xrange(0, v['grade']) %}<i class="icon-star"></i>{% end %}
						{% for i in xrange(0, 5-v['grade']) %}<i class="icon-star-empty"></i>{% end %}
					</div>
				</div>
			</li>
			{% end %}
		</ul>
		<script src="{{ static_url('js/bootstrap-star.js') }}" type="text/javascript"></script>
		<script src="{{ static_url('js/bootstrap-overmenu.js') }}" type="text/javascript"></script>
		<script src="{{ static_url('js/bootstrap-dropright.js') }}" type="text/javascript"></script>
		{% module Template("util/pagination.html", pagination=vinfo, url='/volume/', param='') %}
	</div>
{% end %}
