{% extends ../base.html %}

{% block meta %}
	<title>vision</title>
{% end %}

{% block static %}
	<script language="javascript" src="{{ static_url('js/jquery.uploadify.min.js') }}" type="text/javascript"></script>
	<script language="javascript" src="{{ static_url('js/jquery.city.js') }}" type="text/javascript"></script>
	<script src="{{ static_url('js/vision.js') }}" type="text/javascript"></script>
	<script src="{{ static_url('js/jquery.date.js') }}" type="text/javascript"></script>
	<script language="javascript" type="text/javascript">
		$(document).ready(function() {
			$("#poster").uploadify({
				swf				: '{{ static_url("js/uploadify.swf") }}',
				uploader		: '/a/image',
				checkExisting	: '/a/image/check',
				width			: '100',
				buttonText		: '{% if logo %}编辑图片{% else %}上传图片{% end %}',
				cancelImage		: '{{ static_url("img/uploadify-cancel.png") }}',
				auto			: true,
				fileObjName		: 'upload',
				onUploadSuccess : function (file, data, response) {
					$('#poster-disp').html('<span><input type="hidden" name="logo" value="'+data+'"/><img width=100 height=100 src="/image/attach/'+data+'_300"></span>');
					$('#poster_queue').hide();
				},
				onError			: function (event, queueID, fileObj){alert("文件:" + fileObj.name + " 上传失败");}
			});
			
			$('.censor, .preview').on('censorn', function(){
				var $that = $(this);
				
			})
		})
	</script>
	<link rel="stylesheet" type="text/css" href="{{ static_url('css/uploadify.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ static_url('css/datepicker.css') }}"/>
{% end %}
{% block body %}
	<ul class="breadcrumb" style="padding:0px;height:40px;">
		<li><p style="font-size:16px;font-weight:bold;height:40px;padding:10px 10px 10px 20px;">{% if vid %}编辑{% else %}新建{% end %}</p></li>
		<li class="pull-right" style="border-left:1px solid black;"><a class="btn btn-mini" style="border:0px;height:20px;font-size:16px;padding:10px;" onclick="return backconfirm(this);" href="{{back}}?vback={{vback}}">返回</a></li>
	</ul>
	<div class="span10" style="margin-left:0px;width:1028px;">
		<form class="form-horizontal" method="post" action="/volume/new/?back={{vback}}">
			<div class="span10 row3" style="padding:20px;">
				<div class="control-group">
					<label class="control-label" for="maintype">类别</label>
					<div class="controls">
						<select type="text" class="span2" id="maintype" name="maintype">
							<option value="{% if maintype %}{{ maintype }}{% end %}">{% if maintype_cn %}{{ maintype_cn }}{% end %}</option>
						</select>
						<p class="help-inline">请选择类别</p>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="prop">属性</label>
					<div class="controls" >
						<select type="text" class="span2" id="prop" name="prop">
							<option value="{% if prop %}{{ prop }}{% end %}">{% if prop_cn %}{{ prop_cn }}{% end %}</option>
						</select>
						<p class="help-inline">请选择属性</p>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="subtype">二级属性</label>
					<div class="controls">
						<select type="text" class="span2" id="subtype" name="subtype">
							<option value="{% if subtype %}{{ subtype }}{% end %}">{% if subtype_cn %}{{ subtype_cn }}{% end %}</option>
						</select>
						<p class="help-inline">请选择二级属性</p>
					</div>
				</div>
			</div>
			<div style="clear:both;"></div>
			<hr/>
			
			<div class="span2" style="padding-top:20px;padding-left:20px;">
				<div id="poster-disp">
					{% if logo %}
						<span><input type="hidden" name="logo" value="{{ logo }}"/><img width=100 height=100 src="/image/attach/{{ logo }}_100"></span>
					{% else %}
						<img src="{{ static_url("img/blank_100.gif") }}" style="width:100px;height:100px;"/>
					{% end %}
				</div><br/>
				<div id="poster">头像上传</div>
			</div>
			
			<div class="span8" style="padding-top:20px;">
				<div class="control-group">
					<label class="control-label" for="name">{% if prop=='PERSONAL' %}姓名{% else %}名称{% end %}</label>
					<div class="controls">
						<input type="text" class="input-xlarge" id="name" name="name" value="{% if name %}{{name}}{% end %}"/>
						<p class="help-inline">请输入{% if prop=='PERSONAL' %}姓名{% else %}名称{% end %}</p>
					</div>
				</div>
				
				<div class="control-group {% if prop=='PERSONAL' %}hide{% end %}">
					<label class="control-label" for="builder">负责人</label>
					<div class="controls">
						<input type="text" class="input-xlarge" id="builder" name="builder" value="{% if builder %}{{builder}}{% end %}"/>
						<p class="help-inline">请输入负责人</p>
					</div>
				</div>
				
				<div class="control-group {% if prop!='PERSONAL' %}hide{% end %}">
					<label class="control-label" for="male">性别</label>
					<div class="controls">
						<select type="text" class="input-xlarge" id="male" name="male">
							{% if male is None %}
								<option></option>
								<option value="male">男</option>
								<option value="female">女</option>
							{% elif male is True %}
								<option value="male">男</option>
								<option value="female">女</option>
							{% elif male is False %}
								<option value="female">女</option>
								<option value="male">男</option>
							{% end %}
						</select>
						<p class="help-inline">请选择性别</p>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="born">{% if prop=='PERSONAL' %}出生日期{% else %}创建时间{% end %}</label>
					<div class="controls">
						<script>select_birthday('born', {{ born }})</script>
						<p class="help-inline">请选择{% if prop=='PERSONAL' %}出生日期{% else %}创建时间{% end %}</p>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="live">国家地区:</label>
					<div class="controls">
						<script>select_pid("live", {% if live %}{{ live }}{% else %}'0x0'{% end %})</script>
					</div>
					<p class="help-inline">请选择国家地区</p>
				</div>
				<div class="control-group">
					<label class="control-label" for="agency">所属机构</label>
					<div class="controls">
						<input type="text" name="agency" class="input-xlarge" id="agency" value="{% if agency %}{{ agency }}{% end %}" />
						<p class="help-inline">请选择所属机构</p>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="website">网址</label>
					<div class="controls">
						<input type="text" class="input-xlarge" id="website" name="website" value="{% if website %}{{ website }}{% end %}"/>
						<p class="help-inline">请输入网址</p>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="grade">级别</label>
					<div class="controls">
						<span class="star-group">
							{% for i in xrange(0, 5) %}<i class="star icon-star-empty"></i>{% end %}
						</span>
						<input type="hidden" name="grade" class="star-value" value="{% if grade %}{{ grade }}{% end %}">
						<p class="help-inline">请选择级别</p>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="nexus">关系</label>
					<div class="controls">
						<span class="star-group">
							{% for i in xrange(0, 5) %}<i class="star icon-star-empty"></i>{% end %}
						</span>
						<input type="hidden" name="nexus" class="star-value" value="{% if nexus %}{{ nexus }}{% end %}">
						<p class="help-inline">请选择关系</p>
					</div>
				</div>
				<hr style="margin:20px 0px;"/>
				<div class="control-group {% if prop!='PERSONAL' %}hide{% end %}">
					<label class="control-label" for="intro">简介</label>
					<div class="controls">
						<textarea class="input-xlarge" id="intro" rows="3" name="intro">{% if intro %}{{ intro }}{% end %}</textarea>
						<p class="help-inline">请输入简介</p>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="about">相关机构</label>
					<div class="controls">
						<textarea class="input-xlarge" id="about" rows="3" name="about">{% if about %}{{ about }}{% end %}</textarea>
						<p class="help-inline">请输入相关机构</p>
					</div>
				</div>
				
				<div class="control-group {% if prop=='PERSONAL' %}hide{% end %}">
					<label class="control-label" for="market">市场投放</label>
					<div class="controls">
						<textarea class="input-xlarge" id="market" rows="3" name="market">{% if market %}{{ market }}{% end %}</textarea>
						<p class="help-inline">请输入市场投放</p>
					</div>
				</div>
				
				<input type="hidden" name="vid" value="{% if vid %}{{ vid }}{% end %}">
			</div>
			<div style="clear:both;"></div>
			<div class="span10 pull-right">

			</div>
			<div class="span10" style="margin-top:10px;margin-left:0px;width:1028px;height:30px;float:left;border-top:1px solid black;">
				<input type="submit" class="btn btn-primary censor pull-right" style="border:0px;font-weight:bold;" value="确定" />
				<a class="btn pull-right" href="{{back}}?vback={{vback}}" onclick="return backconfirm(this);" style="border-top:0px;border-bottom:0px;">取消</a>
			</div>

		</form>
		<script src="{{ static_url('js/bootstrap-selectlist.js') }}" type="text/javascript"></script>
		<script src="{{ static_url('js/bootstrap-star.js') }}" type="text/javascript"></script>
		<script src="{{ static_url('js/bootstrap-checksubmit.js') }}" type="text/javascript"></script>
	</div>
{% end %}
