{% extends ../base.html %}

{% block meta %}
	<title>vision</title>
{% end %}

{% block body %}
	<div class="span10" style="padding:20px;margin-left:0px;">
		<div class="span2"><img src="/image/attach/{{ ulogo }}_100" alt="头像" style="width:100px;height:100px;" onerror="this.src='/static/img/default_avatar.gif';"/></div>
		<div class="span7">
			<h1>{{current_user}} / {{list2txt(perm)}}</h1>
		</div>
	</div>
	<div style="border-top:1px solid black;float:left;padding-right:26px;padding-top:20px;">
		<div class="span3 border left-nav" style="width:220px;">{% block bodyleft %}{% end %}</div>
		<div class="span8" style="width:720px;">{% block bodyright %}{% end %}</div>
	</div>
{% end %}
