{% extends base.html %}

{% block meta %}
	<title>vision</title>
{% end %}

{% block static %}
	<script language="javascript" type="text/javascript">
		function onClickRedirect (url) {
			var params = $.parseJSON($('#params').val());
			host = window.location.host;
			window.location.href = 'http://' + host + url + '?' + $.param(params);
		}
		function onClickHref (k, v) {
			var params = $.parseJSON($('#params').val());
			params[k] = v
			url = window.location.href
			url = url.substr(0, $.inArray('?', url))
			window.location.href = url + '?' + $.param(params);
		}
		function onClickOK (e) {
			var $ul = e.closest('ul')
			, params = $.parseJSON($('#params').val())
			, inps = $ul.find('input')
			, sel = $ul.find('input[type=radio]:checked');
			inps.each(function(e, i) {
				var key = $(i).attr('name')
				, value = $(i).val();
				params[key] = value;
			})
			if (sel.val()) {
				params['sex'] = sel.val();
			}
			period = $ul.find('[name=period]');
			if (period.val()) {
				params['period'] = period.val();
			}
			url = window.location.href
			url = url.substr(0, $.inArray('?', url))
			window.location.href = url + '?' + $.param(params);
		}
		function onClickSearch (e) {
			var params = $.parseJSON($('#params').val());
			params['word'] = $('input[name="word"]').val();
			url = window.location.href
			url = url.substr(0, $.inArray('?', url))
			window.location.href = url + '?' + $.param(params);
		}
	</script>
{% end %}
{% block bodyleft %}
	<div class="inner-box "><a href="/space/" style="font-weight:bold;">我建立的</div><hr/>
	<div class="inner-box active"><a href="/collect/" style="font-weight:bold;color:white;">我收藏的</a></div><hr/>
	<div class="inner-box"><a href="/project/" style="font-weight:bold;">项目</a></div>
{% end %}

{% block bodyright %}
	<div class="navbar">
		<div class="navbar-inner" style="border:1px solid black;">
			<div class="container">
				<div class="nav-collapse">
					<ul class="nav pull-right" style="margin-top:5px;margin-bottom:5px;">
						<input id="params" type="hidden" value="{{ params }}">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" style="padding:5px;" data-toggle="dropdown">
								<img src="{{ static_url('img/calendar.png') }}">
								日期 <span class="half half_top"><span class="half_in">&#9670;</span>&#9670;</span></a>
							<ul class="dropdown-menu" style="padding:0px;">
								<li style="border-bottom:1px solid black;"><a class="{% if f.get('dtime', '')==u'all' %}active{% end %}" style="padding:5px 20px;" onclick="onClickHref('dtime', 'all')">全部</a></li>
								<li style="border-bottom:1px solid black;"><a class="{% if f.get('dtime', '')==u'day' %}active{% end %}" style="padding:5px 20px;" onclick="onClickHref('dtime', 'day')">今天</a></li>
								<li style="border-bottom:1px solid black;"><a class="{% if f.get('dtime', '')==u'week' %}active{% end %}" style="padding:5px 20px;" onclick="onClickHref('dtime', 'week')">本周</a></li>
								<li style="border-bottom:1px solid black;"><a class="{% if f.get('dtime', '')==u'month' %}active{% end %}" style="padding:5px 20px;" onclick="onClickHref('dtime', 'month')">本月</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" style="padding:5px;" data-toggle="dropdown">
								<img src="{{ static_url('img/worldmap.png') }}">
								国家 <span class="half half_top"><span class="half_in">&#9670;</span>&#9670;</span></a>
							<ul class="dropdown-menu" style="padding:0px;">
								<li style=""><script>select_pid("show_live",  {{ f.get('show_live', '0x0') }})</script></li>
								<li class="ok"><a onclick="onClickOK($(this)); return false;" style="padding:5px 27px;">确定</a></li>
								<li class="cancel" style="border-left:1px solid black;"><a style="padding:5px 27px 5px 26px;">取消</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" style="padding:5px;" data-toggle="dropdown">
								<img src="{{ static_url('img/tag.png') }}">
								标签 <span class="half half_top"><span class="half_in">&#9670;</span>&#9670;</span></a>
							<ul class="dropdown-menu" style="padding:0px;width:180px;">
								<li class="nohover" style="border-bottom:1px solid black;"><a style="padding:5px 20px;">级别:
									<span class="star-group" style="padding:5px 20px;">{% for i in xrange(0, 5) %}<i class="star icon-star-empty"></i>{% end %}</span>
									<input type="hidden" name="grade" class="star-value" value="{{ f.get('grade', 0) }}">
								</a></li>
								<li class="nohover" style="border-bottom:1px solid black;"><a style="padding:5px 20px;">关系:
									<span class="star-group" style="padding:5px 20px;">{% for i in xrange(0, 5) %}<i class="star icon-star-empty"></i>{% end %}</span>
									<input type="hidden" name="nexus" class="star-value" value="{{ f.get('nexus', 0) }}">
								</a></li>
								<li class="nohover" style="border-bottom:1px solid black;"><a style="padding:5px 20px;">
									性别：男&nbsp;<input type="radio" name="sex" value="male" {% if f.get('sex', 'none')=='male' %}checked="checked"{% end %} />&nbsp;女&nbsp;<input type="radio" name="sex" value="female" {% if f.get('sex', 'none')=='female' %}checked="checked"{% end %} />&nbsp;无&nbsp;<input type="radio" name="sex" value="none" {% if f.get('sex', 'none')=='none' %}checked="checked"{% end %}/>
								</a></li>
								<li class="nohover" style="border-bottom:1px solid black;"><a style="padding:5px 20px;">
									年代：<select name="period" style="width:100px;height:25px;margin-bottom:0px;">
										<option value ="">当代</option>
										<option value ="90-00" {% if f.get('period', '')=='90-00' %}selected{% end %}>90~00年代</option>
										<option value="80-90" {% if f.get('period', '')=='80-90' %}selected{% end %}>80~90年代</option>
										<option value="70-80" {% if f.get('period', '')=='70-80' %}selected{% end %}>70~80年代</option>
										<option value="60-70" {% if f.get('period', '')=='60-70' %}selected{% end %}>60~70年代</option>
										<option value="50-60" {% if f.get('period', '')=='50-60' %}selected{% end %}>50~60年代</option>
										<option value="40-50" {% if f.get('period', '')=='40-50' %}selected{% end %}>40~50年代</option>
										<option value="30-40" {% if f.get('period', '')=='30-40' %}selected{% end %}>30~40年代</option>
										<option value="20-30" {% if f.get('period', '')=='20-30' %}selected{% end %}>20~30年代</option>
										<option value="10-20" {% if f.get('period', '')=='10-20' %}selected{% end %}>10~20年代</option>
									</select>
								</a></li>
								<li class="ok"><a onclick="onClickOK($(this));return false;" style="padding:5px 31px;">确定</a></li>
								<li class="cancel" style="border-left:1px solid black;"><a style="padding:5px 31px 5px 30px;">取消</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" style="padding:5px 10px;" data-toggle="dropdown">属性 <span class="half half_top"><span class="half_in">&#9670;</span>&#9670;</span></a>
							<ul class="dropdown-menu" style="padding:0px;">
								<li style="border-bottom:1px solid black;" class="dropright">
									<a href="#" style="padding:5px 20px;" class="dropright-toggle" data-toggle="dropright">个人 <b class="pull-right rcaret"></b></a>
									<ul class="dropright-menu" style="padding:0px;">
										<li style="border-bottom:1px solid black;"><a class="{% if subtype == 'fdesigner' %}select{% end %}" style="padding:5px 20px;" onclick="onClickRedirect('/collect/fdesigner/')">设计师</a></li>
										<li style="border-bottom:1px solid black;"><a class="{% if subtype == 'fphotographer' %}select{% end %}" style="padding:5px 20px;" onclick="onClickRedirect('/collect/fphotographer/')">摄影师</a></li>
										<li style="border-bottom:1px solid black;"><a class="{% if subtype == 'fstylists' %}select{% end %}" style="padding:5px 20px;" onclick="onClickRedirect('/collect/fstylists/')">造型师</a></li>
										<li style="border-bottom:1px solid black;"><a class="{% if subtype == 'fmakeup' %}select{% end %}" style="padding:5px 20px;" onclick="onClickRedirect('/collect/fmakeup/')">化妆师</a></li>
										<li style="border-bottom:1px solid black;"><a class="{% if subtype == 'fmodel' %}select{% end %}" style="padding:5px 20px;" onclick="onClickRedirect('/collect/fmodel/')">模特</a></li>
										<li style="border-bottom:1px solid black;"><a class="{% if subtype == 'fbloger' %}select{% end %}" style="padding:5px 20px;" onclick="onClickRedirect('/collect/fbloger/')">博主</a></li>
										<li style="border-bottom:1px solid black;"><a class="{% if subtype == 'fartist' %}select{% end %}" style="padding:5px 20px;" onclick="onClickRedirect('/collect/fartist/')">艺术家</a></li>
										<li style="border-bottom:1px solid black;"><a class="{% if subtype == 'hperformer' %}select{% end %}" style="padding:5px 20px;" onclick="onClickRedirect('/collect/hperformer/')">表演者</a></li>
										<li style="border-bottom:1px solid black;"><a class="{% if subtype == 'bmediapeople' %}select{% end %}" style="padding:5px 20px;" onclick="onClickRedirect('/collect/bmediapeople/')">媒体人</a></li>
									</ul>
								</li>
								<li style="border-bottom:1px solid black;" class="dropright">
									<a href="#" class="dropright-toggle" style="padding-top:5px;padding-bottom:5px;" data-toggle="dropright">机构 <b class="pull-right rcaret"></b></a>
									<ul class="dropright-menu" style="padding:0px;top:30px;">
										<li style="border-bottom:1px solid black;"><a class="{% if subtype == 'magazine' %}select{% end %}" style="padding:5px 20px;" onclick="onClickRedirect('/collect/magazine/')">杂志</a></li>
										<li style="border-bottom:1px solid black;"><a class="{% if subtype == 'association' %}select{% end %}" style="padding:5px 20px;" onclick="onClickRedirect('/collect/association/')">协会</a></li>
										<li style="border-bottom:1px solid black;"><a class="{% if subtype == 'institutions' %}select{% end %}" style="padding:5px 20px;" onclick="onClickRedirect('/collect/institutions/')">院校</a></li>
									</ul>
								</li>
								<li><a class="{% if subtype == 'show' %}select{% end %}" style="padding:5px 20px;"  onclick="onClickRedirect('/collect/show/')">展会</a></li>
							</ul>
						</li>
						<li>
							<form class="form-inline" style="font-weight:bold;font-size:18px;margin-bottom:0px;padding-left:20px;border-left:1px solid black;" action="/collect/{{subtype}}/" method="get">
								<input type="text" name="word" class="input-medium search-query" style="margin-top:2px;" placeholder="搜索">
								<a class="btn btn-small" style="height:18px;margin-top:2px;" onclick="onClickSearch(this)"><i class="icon-search"></i></a>
							</form>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<ul class="thumbnails" style="min-height:300px;">
		{% for v in vlist %}
		<li class="span3">
			<div class="thumbnail overmenu-group">
				<a href="/collect/{{ v['vid'] }}/"><img src="/image/attach/{{ v.get('logo', None) }}_300" onerror="this.src='{{ static_url("img/blank_260x180.gif") }}';" style="width:260px;height:180px;" alt=""></a>
				<ul class="overmenu" bot=0 >
					<li><a href="/collect/{{ v['vid'] }}/">查看</a></li>
					<li><a href="/collect/{{ v['vid'] }}/remove/" onclick="return delconfirm(this);">取消收藏</a></li>
				</ul>
				<div class="caption" style="height:107px;">
					<h4>{{ v['name'] }} / {{ v['subtype_cn'] }}</h4>
					<p>{{ v['intro'] }}</p>
				</div>
			</div>
		</li>
		{% end %}
	</ul>
	<script src="{{ static_url('js/bootstrap-star.js') }}" type="text/javascript"></script>
	<script src="{{ static_url('js/bootstrap-overmenu.js') }}" type="text/javascript"></script>
	{% module Template("util/pagination.html", pagination=vinfo, url='/volume/', param='') %}
{% end %}
