{% extends base.html %}

{% block meta %}
	<title>vision</title>
{% end %}

{% block static %}
	<script language="javascript" type="text/javascript">
		function onClickRedirect (href) {
			var params = $.parseJSON($('#params').val());
			params['href'] = href
			url = window.location.href
			url = url.substr(0, $.inArray('?', url))
			window.location.href = url + '?' + $.param(params);
		}
		function onClickHref (k, v) {
			var params = $.parseJSON($('#params').val());
			params[k] = v
			url = window.location.href
			url = url.substr(0, $.inArray('?', url))
			window.location.href = url + '?' + $.param(params);
		}
		function onClickOK (e) {
			var $ul = e.closest('ul')
			, $ultags = $('.ul-tags')
			, params = $.parseJSON($('#params').val())
			, inps = $ul.find('input[type=hidden]')
			, sel = $ul.find('input[type=radio]:checked');
			inps.each(function(e, i) {
				var key = $(i).attr('name')
				, value = $(i).val();
				if ((value != '0')&&(value != '0x0')){
					params[key] = value;
				}else{
					delete params[key];
				}
			})
			if (sel.val()) {
				params['sex'] = sel.val();
			}else{
				delete params['sex'];
			}
			period = $ultags.find('[name=period]');
			if (period.val()) {
				params['period'] = period.val();
			}else{
				delete params['period'];
			}
			url = window.location.href
			url = url.substr(0, $.inArray('?', url))
			window.location.href = url + '?' + $.param(params);
		}
		function onClickSearch (e) {
			var params = $.parseJSON($('#params').val());
			if (! $('input[name="word"]').val()) {
				return
			}
			params['word'] = $('input[name="word"]').val();
			url = window.location.href
			url = url.substr(0, $.inArray('?', url))
			window.location.href = url + '?' + $.param(params);
		}
		function onCancel (e, i) {
			if (i == '1') {
				$('input[name=show_live]').val('0x0');
			} else if (i == '2') {
				$('.star-group').each(function(){
					var $group = $(this);
					$group.find('.star:lt(5)').each(function(idx, el){
            			$(el).removeClass('icon-star').addClass('icon-star-empty');
        			})
					$group.next('.star-value').val('0');
				})
				$('.sex-ml').attr("checked", false);
				$('.sex-none').attr("checked", true);
				$("[name=period]").attr('value','');
			}
			onClickOK(e);
		}
	</script>
{% end %}
{% block bodyleft %}
	<div class="inner-box active"><a href="/space/" style="font-weight:bold;color:white;">我建立的</a></div><hr/>
	<div class="inner-box"><a href="/volume/new/" style="font-weight:bold;"><i class="icon-plus"></i>新建</a></div><hr class=""/>
	<div class="inner-box"><a href="/collect/" style="font-weight:bold;">我收藏的</a></div><hr class=""/>
	<div class="inner-box"><a href="/project/" style="font-weight:bold;">项目</a></div>
{% end %}

{% block bodyright %}
	<div class="navbar">
		<div class="navbar-inner" style="border:1px solid black;">
			<div class="container">
				<div class="nav-collapse">
					<ul class="nav pull-right" style="margin-top:5px;margin-bottom:5px;">
						<input id="params" type="hidden" value="{{params}}">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" style="padding:5px;" data-toggle="dropdown">
								<img src="{{ static_url('img/calendar.png') }}">
								日期 <span class="half half_top"><span class="half_in">&#9670;</span>&#9670;</span></a>
							<ul class="dropdown-menu" style="padding:0px;">
								<li style="border-bottom:1px solid black;"><a class="{% if f.get('dtime', '')==u'all' %}active{% end %}" style="padding:5px 20px;" onclick="onClickHref('dtime', 'all')">全部</a></li>
								<li style="border-bottom:1px solid black;"><a class="{% if f.get('dtime', '')==u'day' %}active{% end %}" style="padding:5px 20px;" onclick="onClickHref('dtime', 'day')">今天</a></li>
								<li style="border-bottom:1px solid black;"><a class="{% if f.get('dtime', '')==u'week' %}active{% end %}" style="padding:5px 20px;" onclick="onClickHref('dtime', 'week')">本周</a></li>
								<li style="border-bottom:1px solid black;"><a class="{% if f.get('dtime', '')==u'month' %}active{% end %}" style="padding:5px 20px;" onclick="onClickHref('dtime', 'month')">本月</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" style="padding:5px;" data-toggle="dropdown">
								<img src="{{ static_url('img/worldmap.png') }}">
								国家 <span class="half half_top"><span class="half_in">&#9670;</span>&#9670;</span></a>
							<ul class="dropdown-menu" style="padding:0px;">
								<li style=""><script>select_pid("show_live",  "{{ f.get('show_live', '0x0') }}")</script></li>
								<li class="ok"><a onclick="onClickOK($(this)); return false;" style="padding:5px 27px;">确定</a></li>
								<li class="cancel" style="border-left:1px solid black;"><a style="padding:5px 27px 5px 26px;" onclick="onCancel($(this), 1);return false;">取消</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" style="padding:5px;" data-toggle="dropdown">
								<img src="{{ static_url('img/tag.png') }}">
								标签 <span class="half half_top"><span class="half_in">&#9670;</span>&#9670;</span></a>
							<ul class="dropdown-menu" style="padding:0px;width:180px;">
								<li class="nohover" style="border-bottom:1px solid black;"><a style="padding:5px 20px;">级别:
									<span class="star-group" style="padding:5px 20px;">{% for i in xrange(0, 5) %}<i class="star icon-star-empty"></i>{% end %}</span>
									<input type="hidden" name="grade" class="star-value" value="{{ f.get('grade', 0) }}">
								</a></li>
								<li class="nohover" style="border-bottom:1px solid black;"><a style="padding:5px 20px;">关系:
									<span class="star-group" style="padding:5px 20px;">{% for i in xrange(0, 5) %}<i class="star icon-star-empty"></i>{% end %}</span>
									<input type="hidden" name="nexus" class="star-value" value="{{ f.get('nexus', 0) }}">
								</a></li>
								<li class="nohover" style="border-bottom:1px solid black;"><a style="padding:5px 20px;">
									性别：男&nbsp;<input type="radio" class="sex-ml" name="sex" value="male" {% if f.get('sex', 'none')=='male' %}checked="checked"{% end %} />
									&nbsp;女&nbsp;<input type="radio" class="sex-ml" name="sex" value="female" {% if f.get('sex', 'none')=='female' %}checked="checked"{% end %} />
									&nbsp;无&nbsp;<input type="radio" class="sex-none" name="sex" value="" {% if f.get('sex', 'none')=='none' %}checked="checked"{% end %}/>
								</a></li>
								<li class="nohover" style="border-bottom:1px solid black;"><a style="padding:5px 20px;">
									年代：<select name="period" style="width:100px;height:25px;margin-bottom:0px;">
										<option value =""></option>
										<option value ="90-00" {% if f.get('period', '')=='90-00' %}selected{% end %}>90~00年代</option>
										<option value="80-90" {% if f.get('period', '')=='80-90' %}selected{% end %}>80~90年代</option>
										<option value="70-80" {% if f.get('period', '')=='70-80' %}selected{% end %}>70~80年代</option>
										<option value="60-70" {% if f.get('period', '')=='60-70' %}selected{% end %}>60~70年代</option>
										<option value="50-60" {% if f.get('period', '')=='50-60' %}selected{% end %}>50~60年代</option>
										<option value="40-50" {% if f.get('period', '')=='40-50' %}selected{% end %}>40~50年代</option>
										<option value="30-40" {% if f.get('period', '')=='30-40' %}selected{% end %}>30~40年代</option>
										<option value="20-30" {% if f.get('period', '')=='20-30' %}selected{% end %}>20~30年代</option>
										<option value="10-20" {% if f.get('period', '')=='10-20' %}selected{% end %}>10~20年代</option>
									</select>
								</a></li>
								<li class="ok"><a onclick="onClickOK($(this));return false;" style="padding:5px 31px;">确定</a></li>
								<li class="cancel" style="border-left:1px solid black;"><a style="padding:5px 31px 5px 30px;" onclick="onCancel($(this), 2);return false;">取消</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" style="padding:5px 10px;" data-toggle="dropdown">属性 <span class="half half_top"><span class="half_in">&#9670;</span>&#9670;</span></a>
							<ul class="dropdown-menu" style="padding:0px;">
								<li style="border-bottom:1px solid black;" class="dropright">
									<a href="#" style="padding:5px 20px;" class="dropright-toggle" data-toggle="dropright">个人 <b class="pull-right rcaret"></b></a>
									<ul class="dropright-menu" style="padding:0px;">
										<li style="border-bottom:1px solid black;"><a class="{% if subtype == 'fdesigner' %}select{% end %}" style="padding:5px 20px;" onclick="onClickRedirect('fdesigner')">设计师</a></li>
										<li style="border-bottom:1px solid black;"><a class="{% if subtype == 'photographer' %}select{% end %}" style="padding:5px 20px;" onclick="onClickRedirect('photographer')">摄影师</a></li>
										<li style="border-bottom:1px solid black;"><a class="{% if subtype == 'fstylists' %}select{% end %}" style="padding:5px 20px;" onclick="onClickRedirect('fstylists')">造型师</a></li>
										<li style="border-bottom:1px solid black;"><a class="{% if subtype == 'fmakeup' %}select{% end %}" style="padding:5px 20px;" onclick="onClickRedirect('fmakeup')">化妆师</a></li>
										<li style="border-bottom:1px solid black;"><a class="{% if subtype == 'fmodel' %}select{% end %}" style="padding:5px 20px;" onclick="onClickRedirect('fmodel')">模特</a></li>
										<li style="border-bottom:1px solid black;"><a class="{% if subtype == 'fbloger' %}select{% end %}" style="padding:5px 20px;" onclick="onClickRedirect('fbloger')">博主</a></li>
										<li style="border-bottom:1px solid black;"><a class="{% if subtype == 'bmediapeople' %}select{% end %}" style="padding:5px 20px;" onclick="onClickRedirect('bmediapeople')">媒体人</a></li>
									</ul>
								</li>
								<li style="border-bottom:1px solid black;" class="dropright">
									<a href="#" class="dropright-toggle" style="padding-top:5px;padding-bottom:5px;" data-toggle="dropright">机构 <b class="pull-right rcaret"></b></a>
									<ul class="dropright-menu" style="padding:0px;top:30px;">
										<li style="border-bottom:1px solid black;"><a class="{% if subtype == 'magazine' %}select{% end %}" style="padding:5px 20px;" onclick="onClickRedirect('magazine')">杂志</a></li>
										<li style="border-bottom:1px solid black;"><a class="{% if subtype == 'association' %}select{% end %}" style="padding:5px 20px;" onclick="onClickRedirect('association')">协会</a></li>
										<li style="border-bottom:1px solid black;"><a class="{% if subtype == 'institutions' %}select{% end %}" style="padding:5px 20px;" onclick="onClickRedirect('institutions')">院校</a></li>
										<li style="border-bottom:1px solid black;"><a class="{% if subtype == 'museum' %}select{% end %}" style="padding:5px 20px;" onclick="onClickRedirect('museum')">博物馆</a></li>
										<li style="border-bottom:1px solid black;"><a class="{% if subtype == 'hlegacy' %}select{% end %}" style="padding:5px 20px;" onclick="onClickRedirect('hlegacy')">文化遗产</a></li>
										<li style="border-bottom:1px solid black;"><a class="{% if subtype == 'apress' %}select{% end %}" style="padding:5px 20px;" onclick="onClickRedirect('apress')">出版社</a></li>
									</ul>
								</li>
								<li><a class="{% if subtype == 'show' %}select{% end %}" style="padding:5px 20px;"  onclick="onClickRedirect('show/')">展会</a></li>
							</ul>
						</li>
						<li>
							<form class="form-inline" style="font-weight:bold;font-size:18px;margin-bottom:0px;padding-left:20px;border-left:1px solid black;" action="/space/{{subtype}}/" method="get">
								<input type="text" name="word" class="input-medium search-query" style="margin-top:2px;" placeholder="搜索">
								<a class="btn btn-small" style="height:18px;margin-top:2px;" onclick="onClickSearch(this)"><i class="icon-search"></i></a>
							</form>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<ul class="thumbnails" style="min-height:300px;">
		{% for v in vlist %}
		<li class="span3">
			<div class="thumbnail overmenu-group">
				<a href="/volume/{{ v['vid'] }}/" style="width:220px;height:180px;position:relative;overflow:hidden;display:block;">
					<img src="/image/attach/{{ v.get('logo', None) }}_crop" onload="if ((parseFloat($(this).width())/$(this).height()) > 1.23){$(this).css('height', '180').css('width', 'auto')};" onerror="this.src='{{ static_url("img/blank_260x180.gif") }}';" style="display:block;width:220px;margin:0 auto;" alt="">
				</a>
				<ul class="overmenu" bot=0 >
					<li><a href="/volume/{{ v['vid'] }}/edit/">编辑</a></li>
					<li><a href="/volume/{{ v['vid'] }}/remove/" onclick="return delconfirm(this);">删除</a></li>
				</ul>
				<div class="caption" style="height:107px;">
					<p style="font-size:16px;font-weight:bold;margin-bottom:2px;">{{ abstract(v['engname'], 15) }}</p>
					<p style="font-size:16px;">{{ abstract(v['name'], 9) }} / {{ v['subtype_cn'] }}</h4>
					<p>{{ abstract(v['intro'], 44) }}</p>
				</div>
			</div>
		</li>
		{% end %}
	</ul>
	<script src="{{ static_url('js/bootstrap-star.js') }}" type="text/javascript"></script>
	<script src="{{ static_url('js/bootstrap-overmenu.js') }}" type="text/javascript"></script>
	{% module Template("util/pagination.html", pagination=vinfo, url=vurl, param=vparams) %}
{% end %}