{% extends base.html %}

{% block meta %}
	<title>vision</title>
{% end %}

{% block static %}{% end %}
{% block bodyleft %}
	<br/>
	<div class="hide"><a href="/space/">主页</a></div><hr/>
	<div class="hide">授权</div><hr/>
	<div class="hide"><a href="/space/new/">新建</a></div><hr/>
	<div class="hide"><a href="/space/collect/">收藏</a></div><hr/>
	<div><a href="/space/project/">项目</a></div><hr/>
{% end %}

{% block bodyright %}
	<br/><h3>新建用户</h3><hr/>
	<form class="form-horizontal" action="/space/perm/" method="POST">
		<div class="control-group">
			<label class="control-label" for="nick">用户名：</label>
			<div class="controls">
				<input id="nick" name="nick" />
				<p class="hide help-block">请输入用户名</p>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="email">邮箱：</label>
			<div class="controls">
				<input id="email" name="email" />
				<p class="hide help-block">请输入邮箱</p>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="password">密码：</label>
			<div class="controls">
				<input type="password" id="password" name="password" />
				<p class="hide help-block">请输入密码</p>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="perm">权限</label>
			<div class="controls">
				<select type="text" id="maintype" name="maintype">
					<option value="EDITOR">编辑</option>
					<option value="MANAGER">管理员</option>
				</select>
				<select type="text" id="subtype" name="subtype">
					<option value="FDESIGNER">设计师</option>
					<option value="FPHOTOGRAPHER">摄影师</option>
					<option value="FSTYLISTS">造型师</option>
					<option value="FMAKEUP">化妆师</option>
					<option value="FMODEL">模特</option>
					<option value="FBLOGER">博主</option>
					<option value="FARTIST">艺术家</option>
				</select>
				<p class="hide help-block">请选择</p>
			</div>
		</div>
		<div class="form-actions">
			<input type="submit" class="btn btn-primary" value="确定"/>
			<a class="btn">取消</a>
		</div>
	</form>
{% end %}