<!DOCTYPE html>
<html lang="cn">
	<head>
		<meta charset="utf-8">
		{% block meta %}{% end %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="{{ static_url('js/jquery.min.js') }}" type="text/javascript"></script>
		<script src="{{ static_url('js/jquery.own.js') }}" type="text/javascript"></script>
		<script language="javascript" type="text/javascript">
			$(document).ready(function() {
				if ($.browser.opera || $.browser.msie) {// || $.browser.safari) {
					$('#navi-browser').modal({'show':true})
					$('.navi-browser').show();
				}else{
					$('.navi-browser').hide();
				}
				$(".drophover, .dropright").each(function(){
					var that = $(this);
					that.hoverDelay({
						outDuring: 100,
						hoverEvent: function(){
							that.addClass('open');
						},
						outEvent: function(){
							that.removeClass('open');
						}
					});
				});
				$('.dropdown-toggle-head').on('mouseover', function(e){
					var $this = $(this)
					, wd = $('.user_log').width();
					$('.user_log .dropdown-menu').width(wd+40);
				});
				$('.backtotop').click(function(e){ 
					$('html body').animate({scrollTop:0}, 'fast'); 
				});
			})
		</script>
		<script language="javascript" src="{{ static_url('js/jquery.city.js') }}" type="text/javascript"></script>
		<link href="{{ static_url('css/bootstrap.css') }}" rel="stylesheet">
		<link href="{{ static_url('css/mybootstrap.css') }}" rel="stylesheet">
		<link href="{{ static_url('css/border.css') }}" rel="stylesheet">
		{% block static %}{% end %}
	</head>
	<body data-spy="scroll" data-target=".subnav" data-offset="50" style="padding-top:0px;">
		
	<div class="navbar-vision" style="width:1030px;">
		
		<div style="height:30px;background:white;">
			<a class="brand" href="/volume/"><img src="{{ static_url('img/logo.png') }}" width="80" style="width:80px;"></a>
			{% if current_user %}
			<div style="width:1029px;height:30px;border-right:1px solid black;">
				<div class="alert navi-browser" style="display:none;float:left;margin:0px 0px 0px 100px;padding:4px 15px;width:460px;"><strong>友情提示：</strong>为了更好的服务您的工作，推荐使用
					chrome 浏览器&nbsp;&nbsp;<a target="_blank" href="http://www.google.cn/intl/zh-CN/chrome/browser/?installdataindex=chinabookmarkext&brand=CHUP">下载地址</a></div>
				<a href="/logout/" class="pull-right" style="height:20px;border-left:1px solid black;padding:5px 20px;">退出</a>
				<ul class="nav user_log pull-right" style="height:20px;min-width:90px;border-left:0px solid black;padding:5px 20px;top:23px;">
				<li class="dropdown drophover">
					<a href="#" class="dropdown-toggle dropdown-toggle-head" role="menu" data-toggle="dropdown">
						<img src="/image/attach/{{ ulogo }}_crop" style="width:24px;height:24px;" width=24 height=24 onerror="this.src='/static/img/default_avatar.gif';" />&nbsp;{{ current_user }}
						<span class="half half_top"><span class="half_in">&#9670;</span>&#9670;</span>
					</a>
					<ul class="nav-list dropdown-menu" style="min-width:124px;padding:0px;left:-21px;">
						{% if not verify(perm, 0x01) %}
							<li><a href="/space/" style="margin:0px;padding:5px 20px;">个人工作空间</a></li>
						{% end %}
						{% if verify(perm, [0x01, 0x02]) %}
							<li><a href="/perm/" style="margin:0px;padding:5px 20px;">账户管理</a></li>
						{% end %}
						{% if not verify(perm, 0x01) %}
							<li><a href="/perm/{{uid}}/edit/" style="margin:0px;padding:5px 20px;">修改个人信息</a></li>
							<li><a href="/perm/{{uid}}/cpwd/" style="margin:0px;padding:5px 20px;">修改个人密码</a></li>
						{% end %}
					</ul>
				</li>
				</ul>
			</div>
			{% else %}
				<div class="alert navi-browser" style="float:left;display:none;margin:0px 0px 0px 100px;padding:4px 15px;width:460px;"><strong>友情提示：</strong>为了更好的服务您的工作，推荐使用chrome 浏览器&nbsp;&nbsp;<a target="_blank" href="http://www.google.cn/intl/zh-CN/chrome/browser/?installdataindex=chinabookmarkext&brand=CHUP">下载地址</a></div>
			{% end %}
		</div>
		
		<div class="navbar" style="margin-bottom:40px;">
			<div class="navbar-inner">
				<div class="container container-vision">
					<div class="nav-collapse">
					{% if current_user %}
						<ul class="nav nav-vision" style="margin-top:5px;margin-bottom:5px;">
							<li id="nav-fashion" class="dropdown drophover" style="">
								<a href="/volume/fashion/" style="padding-top:5px;padding-bottom:5px;font-weight:bold;font-size:18px;" class="dropdown-toggle" data-toggle="dropdown">时尚</a>
								<ul class="dropdown-menu parallel-menu">
									<li><a class="{% if subtype == 'fdesigner' %}select{% end %}" href="/volume/fdesigner/">设计师</a></li><li>/</li>
									<li><a class="{% if subtype == 'fphotographer' %}select{% end %}" href="/volume/fphotographer/">摄影师</a></li><li>/</li>
									<li><a class="{% if subtype == 'fstylists' %}select{% end %}" href="/volume/fstylists/">造型师</a></li><li>/</li>
									<li><a class="{% if subtype == 'fmakeup' %}select{% end %}" href="/volume/fmakeup/">化妆师</a></li><li>/</li>
									<li><a class="{% if subtype == 'fmodel' %}select{% end %}" href="/volume/fmodel/">模特</a></li><li>/</li>
									<li><a class="{% if subtype == 'fbloger' %}select{% end %}" href="/volume/fbloger/">博主</a></li><li>/</li>
									<li><a class="{% if subtype == 'fwriter' %}select{% end %}" href="/volume/fwriter/">作家</a></li><li>/</li>
									<li><a class="{% if subtype == 'fmagazine' %}select{% end %}" href="/volume/fmagazine/">杂志</a></li><li>/</li>
									<li><a class="{% if subtype == 'fassociation' %}select{% end %}" href="/volume/fassociation/">协会</a></li><li>/</li>
									<li><a class="{% if subtype == 'finstitutions' %}select{% end %}" href="/volume/finstitutions/">院校</a></li><li>/</li>
									<li><a class="{% if subtype == 'fmuseum' %}select{% end %}" href="/volume/fmuseum/">博物馆</a></li><li>/</li>
									<li><a class="{% if subtype == 'fshow' %}select{% end %}" href="/volume/fshow/">展会</a></li>
								</ul>
							</li>
							<li id="nav-art" class="dropdown drophover" style="">
								<a href="/volume/art/" style="padding-top:5px;padding-bottom:5px;font-weight:bold;font-size:18px;" class="dropdown-toggle" data-toggle="dropdown">艺术</a>
								<ul class="dropdown-menu parallel-menu">
									<li><a class="{% if subtype == 'apainting' %}select{% end %}" href="/volume/apainting/">绘画</a></li><li>/</li>
									<li><a class="{% if subtype == 'aequipment' %}select{% end %}" href="/volume/aequipment/">装置</a></li><li>/</li>
									<li><a class="{% if subtype == 'asculpture' %}select{% end %}" href="/volume/asculpture/">雕塑</a></li><li>/</li>
									<li><a class="{% if subtype == 'aimage' %}select{% end %}" href="/volume/aimage/">影像</a></li><li>/</li>
									<li><a class="{% if subtype == 'awriter' %}select{% end %}" href="/volume/awriter/">作家</a></li><li>/</li>
									<li><a class="{% if subtype == 'amultimedia' %}select{% end %}" href="/volume/amultimedia/">多媒体</a></li><li>/</li>
									<li><a class="{% if subtype == 'amagazine' %}select{% end %}" href="/volume/amagazine/">杂志</a></li><li>/</li>
									<li><a class="{% if subtype == 'apress' %}select{% end %}" href="/volume/apress/">出版社</a></li><li>/</li>
									<li><a class="{% if subtype == 'aassociation' %}select{% end %}" href="/volume/aassociation/">协会</a></li><li>/</li>
									<li><a class="{% if subtype == 'ainstitution' %}select{% end %}" href="/volume/ainstitution/">院校</a></li><li>/</li>
									<li><a class="{% if subtype == 'amuseum' %}select{% end %}" href="/volume/amuseum/">博物馆</a></li><li>/</li>
									<li><a class="{% if subtype == 'ashow' %}select{% end %}" href="/volume/ashow/">展会</a></li>
								</ul>
							</li>
							<li id="nav-design" class="dropdown drophover" style="">
								<a href="/volume/design/" style="padding-top:5px;padding-bottom:5px;font-weight:bold;font-size:18px;" class="dropdown-toggle" data-toggle="dropdown">设计</a>
								<ul class="dropdown-menu parallel-menu">
									<li><a class="{% if subtype == 'dbuilding' %}select{% end %}" href="/volume/dbuilding/">建筑</a></li><li>/</li>
									<li><a class="{% if subtype == 'dindoor' %}select{% end %}" href="/volume/dindoor/">室内</a></li><li>/</li>
									<li><a class="{% if subtype == 'dproduct' %}select{% end %}" href="/volume/dproduct/">产品</a></li><li>/</li>
									<li><a class="{% if subtype == 'dflat' %}select{% end %}" href="/volume/dflat/">平面</a></li><li>/</li>
									<li><a class="{% if subtype == 'dwriter' %}select{% end %}" href="/volume/dwriter/">作家</a></li><li>/</li>
									<li><a class="{% if subtype == 'dmutilmedia' %}select{% end %}" href="/volume/dmutilmedia/">多媒体</a></li><li>/</li>
									<li><a class="{% if subtype == 'dmagazine' %}select{% end %}" href="/volume/dmagazine/">杂志</a></li><li>/</li>
									<li><a class="{% if subtype == 'dassociation' %}select{% end %}" href="/volume/dassociation/">协会</a></li><li>/</li>
									<li><a class="{% if subtype == 'dinstitution' %}select{% end %}" href="/volume/dinstitution/">院校</a></li><li>/</li>
									<li><a class="{% if subtype == 'dmuseum' %}select{% end %}" href="/volume/dmuseum/">博物馆</a></li><li>/</li>
									<li><a class="{% if subtype == 'dshow' %}select{% end %}" href="/volume/dshow/">展会</a></li>
								</ul>
							</li>
							<li id="nav-human" class="dropdown drophover" style="">
								<a href="/volume/human/" style="padding-top:5px;padding-bottom:5px;font-weight:bold;font-size:18px;" class="dropdown-toggle" data-toggle="dropdown">人文</a>
								<ul class="dropdown-menu parallel-menu">
									<li><a class="{% if subtype == 'hphotographer' %}select{% end %}" href="/volume/hphotographer/">摄影师</a></li><li>/</li>
									<li><a class="{% if subtype == 'hwriter' %}select{% end %}" href="/volume/hwriter/">作家</a></li><li>/</li>
									<li><a class="{% if subtype == 'hshow' %}select{% end %}" href="/volume/hshow/">展会</a></li><li>/</li>
									<li><a class="{% if subtype == 'hmuseum' %}select{% end %}" href="/volume/hmuseum/">博物馆（展馆）</a></li><li>/</li>
									<li><a class="{% if subtype == 'hassociation' %}select{% end %}" href="/volume/hassociation/">协会</a></li><li>/</li>
									<li><a class="{% if subtype == 'hmagazine' %}select{% end %}" href="/volume/hmagazine/">杂志</a></li><li>/</li>
									<li><a class="{% if subtype == 'hlegacy' %}select{% end %}" href="/volume/hlegacy/">文化遗产</a></li><li>/</li>
								</ul>
							</li>
							<li id="nav-brand" class="dropdown drophover" style="">
								<a href="/volume/brand/" style="padding-top:5px;padding-bottom:5px;font-weight:bold;font-size:18px;" class="dropdown-toggle" data-toggle="dropdown">品牌</a>
								<ul class="dropdown-menu parallel-menu">
									<li><a class="{% if subtype == 'bmediapeople' %}select{% end %}" href="/volume/bmediapeople/">媒体人</a></li><li>/</li>
									<li><a class="{% if subtype == 'bcompany' %}select{% end %}" href="/volume/bcompany/">公司</a></li><li>/</li>
									<li><a class="{% if subtype == 'bmuseum' %}select{% end %}" href="/volume/bmuseum/">博物馆</a></li><li>/</li>
									<li><a class="{% if subtype == 'bshow' %}select{% end %}" href="/volume/bshow/">展会</a></li>
								</ul>
							</li>
							<li id="nav-project" class="dropdown drophover">
								<a href="/project/" style="padding-top:5px;padding-bottom:5px;font-weight:bold;font-size:18px;">项目</a>
							</li>
						</ul>
					{% else %}
					<div style="width:940px;padding-left:20px;">
						<ul class="nav">
							<li><a class="brand" style="font-size:16px;font-weight:bold;">资源库系统</a></li>
						</ul>
						<ul class="nav user_log pull-right">
							<li>
								<form action="/login/" method="post" class="form-inline login" style="margin:0;">
									用户名 <input name="email" type="text" class="input-small" placeholder="Email" style="margin:5px 20px 3px 0;">
									密码 <input name="password" type="password" class="input-small" placeholder="密码" style="margin:5px 20px 3px 0;">
									<label class="checkbox" style="color:#999;margin-right:10px;"><input type="checkbox"> 记住我</label>
									<button type="submit" class="btn" style="margin:5px 40px 3px 0;">登录</button>
								</form>
							</li>
						</ul>
					</div>
					{% end %}
					</div>
				</div>
			</div>
		</div>

	
		<div class="container container-vision">
			<div class="row box">
				{% if warning %}<div class="alert"><a type="button" class="close" data-dismiss="alert">×</a><strong>警告：</strong> {{ warning }} </div>{% end %}
				{% block body %}{% end %}
			</div>
		<footer class="footer">
			{% block foot %}{% end %}
			
			<div id="navi-browser" class="modal hide fade">
				<div class="modal-header">
					<a class="close" data-dismiss="modal">×</a>
					<h3>友情提示</h3>
				</div>
				<div class="modal-body">
					<span style="color:orange;">为了更好的服务您的工作，推荐使用chrome 浏览器&nbsp;&nbsp;<a target="_blank" href="http://www.google.cn/intl/zh-CN/chrome/browser/?installdataindex=chinabookmarkext&brand=CHUP">下载地址</a></span>
				</div>
			</div>
			<p class="pull-right"><a class="backtotop">回到顶部</a></p>
		</footer>
		</div>
		<script type="text/javascript" src="{{ static_url('js/bootstrap.js') }}"></script>
		<script type="text/javascript" src="{{ static_url('js/bootstrap-dropdown.js') }}"></script>
		<script type="text/javascript" src="{{ static_url('js/bootstrap-delay.js') }}"></script>
	</div>
	</body>
</html>


