{% extends base.html %}

{% block meta %}
	<title>vision</title>
{% end %}

{% block static %}
	<script type="text/javascript" src="{{ static_url('js/jquery.clogin.js') }}"></script>
	<script language="javascript" type="text/javascript">
		$(document).ready(function() {
			$.postJSON('/a/slide/', "GET", {}, function(response) {
					if (response.error){
		  				return alert(response.error);
					}
					for (r in response) {
						$('#myCarousel .carousel-inner').append('<div class="item"><img src={{ static_url("img/slide/'+response[r]+'") }} width="1024" height="768" alt=""><div class="carousel-caption hide"></div></div>');
					}
					$('.carousel').carousel({interval: 10000});
				});
			$('.login  [type=submit]').on('loginn', function(){
				var $this = $(this)
				, form = $this.closest('form')
				, email = form.find('[name=email]')
				, password = form.find('[name=password]')
				, url = '/a/login/'
				, args = {};
				args.email = email.val();
				args.password = password.val();
				$.postJSON(url, "POST", args, function(response) {
					if (response.error){
		  				return alert(response.error);
					}
				});				
			})
		})
	</script>
{% end %}
{% block body %}
	<div class="span10" style="width:1024px;height:768px;margin-left:3px;">
		<div id="myCarousel" class="carousel slide">
			<div class="carousel-inner">
            </div>
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
		</div>
	</div>
{% end %}
