{% extends base.html %}

{% block meta %}
	<title>vision</title>
{% end %}

{% block static %}
	<script type="text/javascript" src="{{ static_url('js/jquery.clogin.js') }}"></script>
	<script language="javascript" type="text/javascript">
		$(document).ready(function() {
			$('.carousel').carousel({interval: 2000});
			$('.login  [type=submit]').on('loginn', function(){
				var $this = $(this)
				, form = $this.closest('form')
				, email = form.find('[name=email]')
				, password = form.find('[name=password]')
				, url = '/a/login/'
				, args = {};
				args.email = email.val();
				args.password = password.val();
				$.postJSON(url, "POST", args, function(response) {
					if (response.error){
		  				return alert(response.error);
					}
				});				
			})
		})
	</script>
{% end %}
{% block body %}
	<div class="span10">
		<div id="myCarousel" class="carousel slide">
			<div class="carousel-inner">
				<div class="item">
					<img src="http://pica.nipic.com/2007-12-31/2007123114275324_2.jpg" alt="">
					<div class="carousel-caption">
						<h4>标题</h4>
						<p>简介</p>
					</div>
				</div>
				<div class="item">
					<img src="http://www.gogojz.com/blog/ewebeditor/UploadFile/200613114361340.jpg" alt="">
					<div class="carousel-caption">
						<h4>标题</h4>
						<p>简介</p>
					</div>
				</div>
            </div>
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
		</div>
	</div>
{% end %}
