{% extends base.html %}

{% block meta %}
	<title>vision</title>
{% end %}

{% block static %}{% end %}
{% block body %}
	<p style="color:red;">{{ warning }}</p>
	<form action="/login/" method="post" class="form-inline" style="margin:0;">
		<input name="nick" type="text" class="input-small" placeholder="用户名" style="margin:5px 0 3px 0;">
		<input name="password" type="password" class="input-small" placeholder="密码" style="margin:5px 0 3px 0;">
		<label class="checkbox" style="color:#999;"><input type="checkbox"> 记住我</label>
		<button type="submit" class="btn" style="margin:5px 0 3px 0;">登录</button>
	</form>
{% end %}
