{% extends ../base.html %}

{% block meta %}
	<title>vision</title>
{% end %}

{% block static %}
	<script language="javascript" src="{{ static_url('js/jquery.live.js') }}" type="text/javascript"></script>
{% end %}
{% block body %}
	<ul class="breadcrumb" style="">
		<li><a href="#" title="{{vinfo['name']}}" alt="{{vinfo['name']}}">{{vinfo['name']}}</a></li>
		{% if not isPreview %}<li class="pull-right"><a href="/volume/{{vinfo['vid']}}/" class="btn btn-mini">返回</a></li>{% end %}
	</ul>

	<div class="span10" style="border-bottom:1px solid black;width:1028px;margin-left:0px;margin-bottom:20px;padding-bottom:15px;">
		<div class="span2" style="border-right:1px solid black;"><img src="/image/avatar/{{ vinfo['logo'] }}_100" alt="头像" style="width:100px;height:100px;" onerror="this.src='/static/img/default_avatar.gif';" /></div>
		<div class="span6" style="">
			<p>{{vinfo['name']}} /{{vinfo['subtype_cn']}} 性别：{{vinfo['male_cn']}} 出生日期：{{vinfo['born']}}年</p>
			<script>show_pid('live', {{vinfo['live']}}, '国家地区：')</script>
			<p>所属机构：{{vinfo['agency']}}</p>
			<p>网址：{{vinfo['website']}}</p>
		</div>
		<div>
			<p>级别：
				{% for i in xrange(0, vinfo['grade']) %}<i class="icon-star"></i>{% end %}
				{% for i in xrange(0, 5-vinfo['grade']) %}<i class="icon-star-empty"></i>{% end %}
			</p>
			<p>关系：
				{% for i in xrange(0, vinfo['nexus']) %}<i class="icon-star"></i>{% end %}
				{% for i in xrange(0, 5-vinfo['nexus']) %}<i class="icon-star-empty"></i>{% end %}
			</p>
		</div>
	</div>
	<div class="span3" style="width:219px;border-top:1px solid black;border-right:1px solid black;margin-left:0px;padding-left:5px;padding-right:5px;">
		<h3 style="padding-left:10px;margin-top:0px;margin-bottom:0px;">简介</h3><hr/>
		<p style="padding:10px;min-height:200px;">{{vinfo['intro']}}</p>
		<hr/><h3 style="padding-left:10px;margin-top:0px;margin-bottom:0px;">相关机构</h3><hr/>
		<p style="padding:10px;min-height:200px;">{{vinfo['about']}}</p>
	</div>
	<div class="span8" style="width:740px;">
		{% for w in works %}
		<div class="thumbnail">
			<img src="/image/attach/{{ w[0] }}" alt="">
			<div class="caption">
				<p>{{ w[1] }}</p>
			</div>
		</div>
		{% end %}
	</div>
{% end %}
