{% extends new_base.html %}
{% block static-add %}{% end %}

{% block infos %}
	<div class="control-group">
		<label class="control-label" for="name">作品名称</label>
		<div class="controls">
			<input type="text" class="input-xlarge" name="name" id="name" value="{% if name %}{{ name }}{% end %}"/>
			<p class="help-inline">请输入作品名称</p>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="client">客户</label>
		<div class="controls">
			<input type="text" class="input-xlarge" name="client" id="client" value="{% if client %}{{ client }}{% end %}"/>
			<p class="help-inline">请输入客户</p>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="year">创作年份</label>
		<div class="controls">
			<select id="year" name="year"></select>
			<script>
				var c = new Date,
				d = c.getFullYear();
				select_span("year", {% if year %}{{year}}{% else %}000000{% end %}, d, d - 128);
			</script>
		</div>
	</div>
{% end %}