{% extends ../base.html %}

{% block meta %}
	<title>vision</title>
{% end %}

{% block static %}
	<script type="text/javascript" src="{{ static_url('js/jquery.note.js') }}"></script>
	<script language="javascript" src="{{ static_url('js/jquery.uploadify.min.js') }}" type="text/javascript"></script>
	<script src="{{ static_url('js/jquery.dragsort.js') }}" type="text/javascript"></script>
	<script language="javascript" type="text/javascript">
		$(document).ready(function() {
			$("#poster").uploadify({
				swf				: '{{ static_url("js/uploadify.swf") }}',
				uploader		: '/a/image',
				checkExisting	: '/a/image/check',
				buttonText		: '点击上传',
				cancelImage		: '{{ static_url("img/uploadify-cancel.png") }}',
				auto			: true,
				multi			: true,
				fileObjName		: 'upload',
				queueSizeLimit	: 10,
				onUploadSuccess : function (file, data, response) {
					var pic_num = $("#thumbnails li").length+1;
					var pic_name = " 图:"+pic_num+" ";
					yhui.iNote.insertPic('PIC', data, '');
				},
				onQueueComplete : function (queueData) {
					dragsort.makeListSortable(document.getElementById("thumbnails"));
					$('#image').modal('hide');
				},
				onError			: function (event, queueID, fileObj){alert("文件:" + fileObj.name + " 上传失败");}
			});
			$('.censor').on('censorn', function(){
				slist = ToolMan.junkdrawer().inspectListOrder('thumbnails');
				for (var i=0; i<slist.length; i++) {
					var num = slist[i].charAt(3, slist[i].length-1)
					, j = i+1; 
					$('#'+slist[i]+' input[type=hidden]').attr('name', j+'PIC');
					$('#'+num+'Edit').attr('name', j+'Edit');
					$('#'+slist[i]+' input[name=cover]').val(j);
				}
			})
			yhui.iNote.init('{{ eid }}');
		})
		
		var coordinates = ToolMan.coordinates()
		var dragsort = ToolMan.dragsort()

	</script>
	<link rel="stylesheet" type="text/css" href="{{ static_url('css/note.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ static_url('css/uploadify.css') }}"/>
{% end %}
{% block body %}
	<div class="span12">
		<br/><h3>新建作品</h3><hr/>
		<div class="span3">
			<div class="well">
				<h4>工具条</h4><br/>
				<a class="btn btn-large btn-warning" data-toggle="modal" href="#image" title="添加图片">添加图片</a><br/><br/>
				<a class="btn btn-large btn-success hide">添加链接</a>
			</div>
		</div>
		<div class="span8" style="border-left:1px solid #eee; width:670px;">
			<form class="form-horizontal" method="post" action="/item/{{ vtype }}/{{ vid }}/new/">
				{% block infos %}{% end %}
				<div class="span8 well" style="margin-left:10px;">
					<ul id="thumbnails" class="thumbnails"></ul>
				</div>
				<div style="clear:both;"></div>
				<input type="hidden" name="eid" value="{{ eid }}">
				<div class="form-actions" style="margin-left:10px;">
					<a class="btn btn-success pull-left" href="/" target="_blank" onclick="function(this){$this.closest('form').submit();};return true;">预览</a>
					<input type="submit" class="btn btn-primary censor pull-right" style="margin-left:5px;" value="确定" />
					<a class="btn pull-right">取消</a>
				</div>
			</form>
			<script src="{{ static_url('js/bootstrap-checksubmit.js') }}" type="text/javascript"></script>
		</div>
	</div>
	
<div id="image" class="modal hide fade">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>插图</h3>
	</div>
	<div class="modal-body">
		<span style="color:orange;">友情提示：按住 shift 键 或 ctrl&lt;command&gt; 键，可以多图上传哦</span>
		<div id="poster">图片上传</div>
	</div>
</div>
{% end %}