{% extends ../base.html %}

{% block meta %}
	<title>vision</title>
{% end %}

{% block static %}{% end %}
{% block body %}
	<ul class="breadcrumb" style="background:#ededed;">
		<li><a href="#" title="{{vinfo['title']}}" alt="{{vinfo['title']}}">{{vinfo['title']}}</a></li>
		<li class="pull-right"><a href="/project/{{vinfo['pid']}}/" class="btn btn-mini">返回</a></li>
	</ul>
	<div class="span12" style="border-bottom:1px solid #eee">
		<div class="span2"></div>
		<div class="span8">
			<p>{{vinfo['description']}}</p>
		</div>
	</div>
	<div class="span3">
	</div>
	<div class="span9">
		{% for w in works %}
		<div class="thumbnail">
			<img src="/image/attach/{{ w[0] }}" alt="">
			<div class="caption">
				<p>{{ w[1] }}</p>
			</div>
		</div>
		{% end %}
	</div>
{% end %}
