{% extends ../base.html %}

{% block meta %}
	<title>vision</title>
{% end %}

{% block static %}{% end %}
{% block body %}
	<ul class="breadcrumb" style="padding:0px;height:40px;">
		<li><p style="font-size:16px;font-weight:bold;height:40px;padding:10px 10px 10px 20px;">{{vinfo['title']}}</p></li>
		{% if not isPreview %}
			<li class="pull-right" style="border-left:1px solid black;"><a class="btn btn-mini" style="border:0px;height:20px;font-size:16px;padding:10px;" href="/project/{{vinfo['pid']}}/">返回</a></li>
		{% end %}
	</ul>
	<div class="span12" style="border-bottom:1px solid #eee">
		<div class="span2"></div>
		<div class="span8">
			<p>{{vinfo['description']}}</p>
		</div>
	</div>
	<div class="span3">
	</div>
	<div class="span9">
		{% for w in works %}
		<div class="thumbnail">
			<img src="/image/attach/{{ w[0] }}" alt="">
			<div class="caption">
				<p>{{ w[1] }}</p>
			</div>
		</div>
		{% end %}
	</div>
{% end %}
