{% extends ../base.html %}

{% block meta %}
	<title>vision</title>
{% end %}

{% block static %}{% end %}
{% block body %}
	<ul class="breadcrumb" style="background:#ededed;">
		<li><a href="#" title="{{current_user}}" alt="{{current_user}}">{{current_user}}</a></li>
	</ul>
	<div class="span12" style="border-bottom:1px solid #eee">
		<div class="span2"><img src="/image/attach/{{ ulogo }}_100" alt="头像" style="width:100px;height:100px;" onerror="this.src='/static/img/default_avatar.gif';"/></div>
		<div class="span8">
			<h1>{{current_user}} / 摄影师</h1>
		</div>
	</div>
	<div class="span3 " style="width:219px;border-right:1px solid #eee">{% block bodyleft %}{% end %}</div>
	<div class="span9">{% block bodyright %}{% end %}</div>
{% end %}
