{% extends ../base.html %}

{% block meta %}
	<title>vision</title>
{% end %}

{% block static %}{% end %}
{% block body %}
	<div class="span12" style="border-bottom:1px solid #eee">
		<div class="span2"><img src="/image/attach/{{ ulogo }}_100" alt="头像" style="width:100px;height:100px;" onerror="this.src='/static/img/default_avatar.gif';"/></div>
		<div class="span8">
			<h1>{{current_user}} / 摄影师</h1>
		</div>
	</div>
	<div class="span3" style="width:219px;">{% block bodyleft %}{% end %}</div>
	<div class="span9" style="border-left:1px solid #eee">{% block bodyright %}{% end %}</div>
{% end %}
