{% extends base.html %}

{% block meta %}
	<title>vision</title>
{% end %}

{% block static %}
	<script language="javascript" type="text/javascript">
		$(document).ready(function() {$('a[rel=tooltip]').tooltip();})
	</script>
{% end %}
{% block bodyleft %}
d
{% end %}

{% block bodyright %}
	<br/>
	<h3 class="pull-left">管理列表</h3>
	<a class="btn btn-success pull-right" href="/perm/new/" style="margin-right:10px;">新建账户</a>
	<div style="clear:both;"></div><hr/>		
	<table class="table">
		<thead>
			<tr>
				<th width=30% align="center">e-mail</th>
				<th width=30% align="center">权限（属性）</th>
				<th width=25% align="center">姓名</th>
				<th width=15% align="center">操作</th>
			</tr>
		</thead>
		<tbody>
			{% for s in slist %}
			<tr>
				<td>{{s['email']}}</td>
				<td>{{s['perm']}}({s['profession']}})</td>
				<td>{{s['nick']}}</td>
				<td>
					<a href="/perm/{{s['pid']}}/edit/" rel="tooltip" data-original-title="编辑" title="编辑"><i class="icon-edit"></i></a>&nbsp;&nbsp;&nbsp;
					<a href="/perm/{{s['pid']}}/cpwd/" rel="tooltip" data-original-title="改密码" title="改密码"><i class="icon-repeat"></i></a>&nbsp;&nbsp;&nbsp;
					<a href="/perm/{{s['pid']}}/remove/" rel="tooltip" onclick="return delconfirm(this);" data-original-title="删除" title="删除"><i class="icon-trash"></i></a>
				</td>
			</tr>
			{% end %}
		</tbody>
	</table>
	{% module Template("util/pagination.html", pagination=sinfo, url='/perm/', param='') %}
{% end %}