{% extends base.html %}

{% block meta %}
	<title>vision</title>
{% end %}

{% block static %}{% end %}
{% block bodyleft %}
	<br/>
	<div class="hide"><a href="/space/">主页</a></div><hr class="hide"/>
	<div class="">账户管理</div><hr/>
	<div class="hide"><a href="/space/new/">新建</a></div><hr class="hide"/>
	<div class="hide"><a href="/space/collect/">收藏</a></div><hr class="hide"/>
	<div><a href="/space/project/">项目</a></div><hr/>
{% end %}

{% block bodyright %}
	<br/>
	<h3 class="pull-left">管理列表</h3>
	<a class="btn btn-success pull-right" href="/perm/new/" style="margin-right:10px;">新建管理</a>
	<div style="clear:both;"></div><hr/>		
	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>名称</th>
				<th>权限（职位）</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			{% for s in slist %}
			<tr>
				<td>{{ slist.index(s)+1 }}</td>
				<td>{{s['nick']}}</td>
				<td><div style="display:none;">{{s['perm']}}({s['profession']}})</div></td>
				<td>
					<a href="/perm/{{s['pid']}}/edit/">编辑</a>&nbsp;&nbsp;
					<a class="close" href="/perm/{{s['pid']}}/remove/" onclick="return delconfirm(this);">&times;</a>
				</td>
			</tr>
			{% end %}
		</tbody>
	</table>
	{% module Template("util/pagination.html", pagination=sinfo, url='/perm/', param='') %}
{% end %}